<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Visit London</title>
    <link rel="stylesheet" href="css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    
    <div class="container">
      <header>
           <div class="navigation">
                 <h2 class="nav-title">Navigation</h2>
                 <h2 class="site-name">Visit London</h2>
                 <nav class="menu">
                     <a href="#visit">Visit</a>
                     <a href="#gallery">Gallery</a>
                     <a href="#services">Services</a>
                     <a href="#contact">Contact</a>
                 </nav>
           </div> <!--.nav-->

           <div class="background-image london">
               <div class="content-bg-image">
                     <h1>Visit London</h1>
                     <p>Nam accumsan aliquet purus in aliquam. Fusce gravida sapien eu leo efficitur, eu tempus ante volutpat. Integer varius odio eget leo fringilla, in interdum odio tincidunt. Sed ullamcorper pretium arcu vitae facilisis.</p>
               </div> <!--.content-->
           </div> <!--.london-->
     </header>