$white:     #FFFFFF;
$blue:      #0076A3;
$dark-blue: darken($blue, 10);
$yellow:    #FFBA00;
$green:     #548c27;
$red:       #fe2d28;
$black:     #000000;

$bg-color: $blue;
$text-color: $black;

$paragraph-font-size: 1.2rem;

$heading-color: $yellow;

$nav-bg-color: $dark-blue;
$menu-anchor-font-size: 1.4rem;

$heading-font-size: (
    h1: 40px,
    h2: 36px,
    h3: 32px,
    h4: 28px,
    h5: 24px,
    h6: 20px
);

// visit
$visit-border-color: $white;
$visit-heading-color: lighten($yellow, 10);
$visit-text-color: $white;

// grid & responsive
$columns: 12;
$grid-max-width: 1200px;

$breakpoints: (
    phone: 480px,
    tablet: 768px,
    desktop: 1024px
);

// buttons
$btn-font-size: 16px;

body {
    background-color: $bg-color;
}